* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(144, 250, 236);
    min-height: 100vh;
}

.container {
    max-width: 900px;
    min-height: 600px;
    background-color: rgba(63, 154, 233, 0.534);
    margin: 5vh auto;
    padding: 20px;
    border-radius: 20px;
}

.sidebar {
    height: 760px;
    width: 30%;
    background-color: rgb(54, 76, 245);
    border-radius: 10px;
    display: inline-block;
    position: relative;
}

.form {
    height: 760px;
    width: 45%;
    background-color: rgb(153, 253, 253);
    display: inline-block;
    position: absolute;
    text-align: center;
}

.form-content {
    height: 760px;
    width: 45%;
    background-color: rgb(153, 253, 253);
    display: inline-block;
    position: absolute;
    left: 35%;
    text-align: center;
}

h3 {
    color: rgba(0, 60, 255, 0.74);
    padding: 5%;
}

h4 {
    color: rgba(0, 60, 255, 0.74);
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

span {
    color: rgba(0, 60, 255, 0.74);
    font-weight: bold;
    cursor: pointer;
}

.form{
  width: 10px;
}

form {
    margin: 20px 0;
    display:  block;
}
input[type="radio"],
input[type="checkbox"]
 {
    cursor: pointer;
    margin: 5px;
    

}

input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(54, 76, 245);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s ease;
}

button:hover {
    background-color: rgba(135, 147, 241, 0.8);
    transform: translateY(-2px);
}

img{
  width: 30px;
  height: 50px;
  
}
h2,p{
   padding: 30%;
text-align: center;
justify-content: center;

}